*.iml
.cxx
.externalNativeBuild
.DS_Store
.gradle
/.idea/.name
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/codeStyles/Project.xml
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/.idea/inspectionProfiles
/.idea/jarRepositories.xml
/.idea/libraries
/.idea/modules.xml
/.idea/misc.xml
/.idea/navEditor.xml
/.idea/runConfigurations.xml
/.idea/render**
/.idea/shelf
/.idea/uiDesigner.xml
/.idea/workspace.xml
/build
/captures
/local.properties
/signing
